<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Change your password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.3/examples/modals/"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@docsearch/css@3"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/modals.css}" />
    <style>
      .is-invalid {
        color: red !important;
        font-size: 0.8rem !important;
      }

      .error {
        color: red !important;
      }
    </style>
  </head>
  <body>
    <div
      class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5"
      tabindex="-1"
      role="dialog"
      id="modalSignin"
    >
      <div class="modal-dialog" role="document">
        <div th:if="${tokenValid}" class="modal-content rounded-4 shadow">
          <div class="modal-header p-5 pb-4 border-bottom-0">
            <h1 class="fw-bold mb-0 fs-2">Change your password</h1>
          </div>

          <div class="modal-body p-5 pt-0">
            <form th:action="@{/reset-pwd}" method="post">
              <div class="text-center error" th:if="${hasError}">
                Make sure you enter your new password and confirm it
              </div>

              <div class="form-floating mb-3">
                <input
                  type="password"
                  name="newpassword"
                  class="form-control rounded-3"
                  id="floatingPassword"
                  placeholder="Password"
                />
                <label for="floatingPassword">Type your new password</label>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="password"
                  name="confirmpassword"
                  class="form-control rounded-3"
                  id="floatingConfirmPassword"
                  placeholder="Password"
                />
                <label for="floatingConfirmPassword"
                  >Type your new password again, to confirm</label
                >
              </div>

              <div class="form-check text-start my-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="sign-out-all"
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Also sign me out everywhere
                </label>
              </div>
              <button
                name="token"
                th:value="${token}"
                class="w-100 mb-2 btn btn-lg rounded-3 btn-primary"
                type="submit"
              >
                Save
              </button>
            </form>
          </div>
        </div>

        <div th:if="${tokenExpired}" class="modal-content rounded-4 shadow">
          <div class="modal-header p-5 pb-4 border-bottom-0">
            <h1 class="fw-bold mb-0 fs-2">Change your password</h1>
          </div>

          <div class="modal-body p-5 pt-0">
            <h3 class="text-warning">Your password reset link expired.</h3>
          </div>
        </div>

        <div th:if="${tokenInValid}" class="modal-content rounded-4 shadow">
          <div class="modal-header p-5 pb-4 border-bottom-0">
            <h1 class="fw-bold mb-0 fs-2">Change your password</h1>
          </div>

          <div class="modal-body p-5 pt-0">
            <h3 class="text-warning">
              Something unexpected happened. Please try again.
            </h3>
          </div>
        </div>

        <div th:if="${tokenUsed}" class="modal-content rounded-4 shadow">
          <div class="modal-header p-5 pb-4 border-bottom-0">
            <h1 class="fw-bold mb-0 fs-2">Change your password</h1>
          </div>

          <div class="modal-body p-5 pt-0">
            <h3 class="text-warning">This password reset was already used</h3>
          </div>
        </div>

        <div
          th:if="${successChangePass}"
          class="modal-content rounded-4 shadow"
        >
          <div class="modal-header p-5 pb-4 border-bottom-0">
            <h1 class="fw-bold mb-0 fs-2">
              Successfully changed your password.
            </h1>
          </div>

          <div class="modal-body p-5 pt-0">
            <a th:href="@{/login}" class="text-success">Sign in</a>
          </div>
        </div>
      </div>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
